<div class="cnt-princ">
  <h1 class="title">Mi perfil</h1>

  <div class="profile-pic">
    <div class="profile-pic-div">
      <img src="../../../assets/img/upload-pic.png" id="photo"/>
      <input type="file" id="file"/>
      <label for="file" id="uploadBtn">Subí una foto</label>
    </div>
  </div>

  <div class="login-wrapper">
    <div class="wrapper-sec">
      <form [formGroup]="form" (ngSubmit)="registrarUsuario()">
        <div class="cnt-inputs">
          <div class="cnt-pass">
            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Correo electrónico"
              name="email"
              #userInput
              form="email"
              formControlName="email"
            />

            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Contraseña"
              name="passwordHash"
              #userInput
              form="passwordHash"
              formControlName="passwordHash"
            />

            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Confirmar contraseña"
              name="passwordCheck"
              #userInput
              form="passwordCheck"
              formControlName="passwordCheck"
            />

          </div>
          <div class="cnt-row1">
            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Nombre"
              name="firstName"
              #userInput
              form="firstName"
              formControlName="firstName"
            />

            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Segundo nombre"
              name="secondName"
              form="secondName"
              formControlName="secondName"
            />
            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Apellido"
              name="firstLastName"
              form="firstLastName"
              formControlName="firstLastName"
            />
            <input
              type="text"
              class="form-control inp-txt"
              placeholder="Segundo apellido"
              name="secondLastName"
              form="secondLastName"
              formControlName="secondLastName"
            />
          </div>
          <div class="cnt-row2">
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Número de identificación"
                name="idNumber"
                formControlName="idNumber"
              />
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Teléfono"
                name="phoneNumber"
                formControlName="phoneNumber"
              />
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Género"
                name="gender"
                formControlName="gender"
              />

              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Dirección"
                name="direccion"
                formControlName="direccion"
              />
          </div>
          <div class="cnt-row3">
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Provincia"
                name="provincia"
                formControlName="privincia"
              />
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Distrito"
                name="distrito"
                formControlName="distrito"
              />
              <input
                type="text"
                class="form-control inp-txt"
                placeholder="Cantón"
                name="canton"
                formControlName="canton"
              />
          </div>
        </div>

        <button class="btn-blue btn" [disabled]="form.invalid" type="submit">
          Confirmar
        </button>
        <div class="cnt-ingresa">
          <p class="text-cuenta">¿Ya tenés una cuenta?</p>
          <a routerLink="/login" class="text-link">Ingresá aquí</a>
        </div>
      </form>
    </div>
  </div>
</div>
