<div class="cnt-princ">
  <div class="cnt-sec">
    <h1 class="title">Aquí está la media naranja de peludito</h1>
    <p class="text">Ingresá tus datos:</p>
  </div>

  <div class="login-wrapper">
    <div>
      <div class="card-body">
        <form>
          <div>
            <input
              type="email"
              class="form-control"
              placeholder="nombre@ejemplo.com"
              name="correo"
            />
            <label for="floatingInput"></label>
          </div>

          <div>
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              name="password"
            />
            <label for="floatingPassword"></label>
          </div>

          <button class="btn-pnk btn" type="submit">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="cnt-ingresa">
    <p class="text-cuenta">¿No tenés una cuenta?</p>
    <a routerLink="/registro-usuario" class="text-link">Creá una aquí</a>
  </div>
</div>
